/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'HarmonyOS Sans Medium';
    src: url(assets/Fonts/harmonyOS.ttf) format('truetype');
}

/* body {
    font-family: 'Lato', serif;
    margin: 0;
    padding: 0;
} */
