<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="home-container">
    <div class="card">
    <div class="hero-section">
            <h1 class="heading">
                <span class="space"></span>
                <span>L</span>
                <span>i</span>
                <span>b</span>
                <span>r</span>
                <span>a</span>
                <span>r</span>
                <span>y</span>
                <span class="space"></span>
                <span>M</span>
                <span>a</span>
                <span>n</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>m</span>
                <span>e</span>
                <span>n</span>
                <span>t</span>
                <span class="space"></span>
                <span>S</span>
                <span>y</span>
                <span>s</span>
                <span>t</span>
                <span>e</span>
                <span>m</span>
            </h1>
            <p>A Typical Library Management System Demo Website in <br><img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo"> Angular
                &amp; <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="Spring Boot Logo"> Spring-Boot!</p>
    </div>
</div>
    <div class="search-section">
        <form>
            <input type="text" placeholder="Search for books">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="featured-books-section">
        <h2>Featured Books</h2>
        <div class="book-card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71hAoLQ1+YL.jpg" alt="Book Cover">
            <h3>Agatha Oddly</h3>
            <p>Lena Jones</p>
            <a href="https://www.amazon.in/Secret-Key-Agatha-Oddly/dp/0008211833/ref=sr_1_1?qid=1680420407&refinements=p_27%3ALena+Jones&s=books&sr=1-1">
            <button>Buy Now</button>
            </a>
        </div>
        <div class="book-card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51cEzGL6vsL.jpg" alt="Book Cover">
            <h3>Three Men In a Boat</h3>
            <p>Jerome K Jerome</p>
            <a href="https://www.amazon.in/Three-Men-Boat-Abridged-Classics/dp/8131936775/ref=sr_1_5?crid=2OVZ9LBTTIMAI&keywords=three+men+in+a+boat&qid=1680420482&s=books&sprefix=three+men+in+a+boat%2Cstripbooks%2C293&sr=1-5">
            <button>Buy Now</button>
            </a>
        </div>
        <div class="book-card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51KPj3gS0vL.jpg" alt="Book Cover">
            <h3>C++</h3>
            <p>Alex Allan</p>
            <a href="https://www.amazon.in/Jumping-Into-C-Alex-Allain/dp/0988927802/ref=sr_1_2_sspa?crid=3R42R7XJHCKNR&keywords=c%2B%2B&qid=1680420821&s=books&sprefix=c%2B%2B%2Cstripbooks%2C258&sr=1-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
            <button>Buy Now</button>
            </a>
        </div>
        <div class="book-card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/91hJe52QzjL.jpg" alt="Book Cover">
            <h3>Sherlock Holmes</h3>
            <a href="https://www.amazon.in/Complete-Novels-Sherlock-Holmes-Hardbound/dp/9387779688/ref=sr_1_2_sspa?crid=3O9MTK49QAM94&keywords=sherlock+holmes&qid=1680420791&s=books&sprefix=sherlo%2Cstripbooks%2C524&sr=1-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">
            <p>Sir Arthur Conan Doyle</p>
            </a>
            <button>Buy Now</button>
        </div>
    </div>
</div>
