<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-5 border p-3 rounded-5">
                    <div class="card-header">
                        <h1 class="text-center">Enter Admin Details</h1>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="adminsForm" (ngSubmit)="saveAdmin()">
                            <!-- <div class="form-group">
                                <label for="Id">ID</label>
                                <input type="number" class="form-control" formControlName="id"
                                    placeholder="Enter the id">
                            </div> -->
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" formControlName="name"
                                    placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" formControlName="username" 
                                    placeholder="Enter the username">
                            </div>
                            <div class="form-text-danger" *ngIf="username.errors?.['required']">
                                <p>This field is mandatory</p>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password" 
                                    placeholder="Enter the password">
                            </div>
                            <div class="form-text-danger" *ngIf="password.errors?.['required']">
                                <p>This field is mandatory</p>
                            </div>
                            <div class="text-center" *ngIf="adminsForm.valid">
                                <button type="submit" class="btn btn-primary">Save
                                    Admins</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card text-center mx-auto">
            <div class="card-body">
                <h3 class="card-title mt-6">Form status: {{adminsForm.valid}}</h3>
            </div>
        </div>
    </div>
</div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>